*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ======title====== */
.title{
    width: 1440px;
    height: 80px;
    display: flex; 
    justify-content: space-between;
}
.title__inside{
    width: 287px;
    height: 16px;
    list-style: none;
    display: flex;
    gap: 35px;
    text-decoration: none;
    margin: 32px;
}
.text1 {
    width: 46px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}
.text2 {
    width: 124px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
}
.title__inside > img{
    width: 150px;
    height: 44px;
}
.title__inside2{
    width: 300px;
    height: 29px;
    display: flex;
    text-decoration: none;
    list-style: none;
    gap: 28px;
    margin: 32px;
}
.text3{
    width: 58px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.title__inside2 >img{
    width: 19px;
    height: 23px;
}

/* ====Imgtext==== */
.imgtext{
    width: 1440px;
    height: 765px;
    flex-shrink: 0;  
    background-image: url(./images/picter1.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title2{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 425px;
    gap: 15px;
}
.title2 >h3{
    width: 469px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 54px;
    font-weight: 700;
    line-height: 80px; /* 148.148% */
    letter-spacing: 1.8px;
}
.title2 >p{
    width: 481px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30.06px; /* 167% */
    margin: 23px;
}
.button1{
    width: 320px;
    height: 45px;
    border: 2px solid #7E0707;
    background: #7E0707;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.button2{
    width: 320px;
    height: 45px;
    border: 2px solid #7E0707;
    color: #7E0707;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

/* ==========Section========= */
.section{
    width: 1440px;
    height: 141px;
    display: flex;
    justify-content: space-between;
}
.section__word{
    display: flex;
    width: 345px;
    height: 80px;
    padding: 15px 94px 15px 16px;
    align-items: center;
    gap: 14px;
}
.section__word >img{
    width: 50px;
    height: 50px;
}
.section__word>p{
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.section2__word{
    display: flex;
    width: 345px;
    height: 80px;
    padding: 15px 105px 15px 17px;
    align-items: center;
    gap: 13px;
    flex-shrink: 0;
}
.section2__word >img{
    width: 50px;
    height: 50px;
}
.section2__word>p{
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.section3__word{
    display: flex;
    width: 345px;
    height: 80px;
    padding: 15px 151px 15px 18px;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
.section3__word >img{
    width: 50px;
    height: 50px;
}
.section3__word>p{
    width: 114px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.section4__word{
    display: flex;
    width: 345px;
    height: 80px;
    padding: 15px 82px 15px 15px;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
}
.section4__word >img{
    width: 50px;
    height: 50px;
}
.section4__word>p{
    width: 183px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}

/* ========section2========= */
.section2{
    width: 1440px;
    height: 977px;
    border: 1px solid rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section2a{
    height: 877px;
    display: flex;
    width: 1210px;
    padding: 0px 40px 211px 40px;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}
.section2a>h2{
    display: flex;
    justify-content: center;
    width: 408px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 171.429% */
    letter-spacing: 1.2px;
}
.section2b{
    width: 1130px;
    height: 486px;
    display: flex;
}
.section__room{
    width: 376px;
    height: 446px;
}
.section__room>img{
    width: 339px;
    height: 283px;
}
.section__room>h4{
    width: 225px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 160% */
    letter-spacing: 0.84px;
}
.section__room>p{
    width: 315px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.section2__room{
    width: 376px;
    height: 446px;
}
.section2__room>img{
    width: 339px;
    height: 283px;
}
.section2__room>h4{
    width: 223px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 160% */
    letter-spacing: 0.84px;
}
.section2__room>p{
    width: 333px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.section3__room{
    width: 376px;
    height: 414px;
}
.section3__room > img{
    width: 348px;
    height: 239px;
}
.section3__room>h4{
    width: 212px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 160% */
    letter-spacing: 0.84px;
}
.section3__room>p{
    width: 331px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

/* ===============Section3================ */
.section3{
    width: 1440px;
    height: 1440px;
}
.section3> h2{
    width: 843px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 171.429% */
    letter-spacing: 1.2px;
}
.section3c{
    display: flex;
    width: 1366px;
    height: 640px;
    padding: 3px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
}
.class{
    width: 677px;
    height: 634px;
}
.class>img{
    width: 408px;
    height: 408px;
}
.class>h4{
    width: 92px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 0.72px;
}
.class>p{
    width: 517px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.class>h5{
    width: 167px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.class2{
    width: 677px;
    height: 634px;
}
.class2 >img{
    width: 439px;
    height: 439px;
}
.class2 > h4{
    width: 111px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 190.476% */
    letter-spacing: 0.72px;
}
.class> p{
    width: 498px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.class> h5{
    width: 167px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}


.section3d{
    display: flex;
    width: 1366px;
    height: 640px;
    padding: 3px;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    flex-shrink: 0;
}
.class3{
    width: 677px;
    height: 634px;
}
.class3>img{
    width: 422px;
    height: 422px;
    flex-shrink: 0;
}
.class3>h4{
    width: 49px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 190.476% */
    letter-spacing: 0.72px;
}
.class3>p{
    width: 473px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 29px; /* 193.333% */
}
.class3>h5{
    width: 167px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.class4{
    width: 677px;
    height: 634px;
    flex-shrink: 0;
}
.class4>img{
    width: 380px;
    height: 380px;
    flex-shrink: 0;
}
.class4>h4{
    width: 122px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 190.476% */
    letter-spacing: 0.72px;
}
.class4 >p{
    width: 516px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px; /* 181.25% */
}
.class4>h5{
    width: 167px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

/* ========Section4========== */
.section4{
    width: 1440px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section4a{
    display: flex;
    width: 1120px;
    padding: 0px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.section4a>p{
    width: 804px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}
.section4a>h4{
    width: 292px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 166.667% */
}
/* ============Section5=========== */
.section5{
    display: flex;
    width: 1440px;
    height: 1200px;
    padding: 224.297px 0px 252.703px 0px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}
.schoola{
    display: flex;
    width: 570px;
    padding: 1.703px 0px 9.297px 0px;
    justify-content: center;
    align-items: flex-start;
}
.schoola>img{
    width: 19px;
    height: 19px;
    flex-shrink: 0;
}
.school>p{
    width: 526px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 160.714% */
    letter-spacing: 0.84px;
}
.school>strong{
    width: 52px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
}
.school2{
    width: 710px;
    height: 601px;
    flex-shrink: 0;
    background-color:#A3C3A8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schoolb{
    display: flex;
    width: 570px;
    padding: 1.703px 0px 9.297px 0px;
    justify-content: center;
    align-items: flex-start;
}
.school2> p{
    width: 461px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 160.714% */
    letter-spacing: 0.84px;
}
.school2> strong{
    width: 51px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 200% */
}
.school3{
    width: 710px;
    height: 601px;
    flex-shrink: 0;
    background:#A3C3A8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.schoold{
    display: flex;
    width: 570px;
    padding: 1.703px 0px 9.297px 0px;
    justify-content: center;
    align-items: flex-start;
}
.school3>p{
    width: 461px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; /* 160.714% */
    letter-spacing: 0.84px;
}
.school3>strong{
    width: 51px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 200% */
}
.school{
    width: 710px;
    height: 601px;
    flex-shrink: 0;
    background: #A3C3A8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ===========section6============ */
.section6{
    background-image: url(./images/picter13.png);
    width: 1440px;
    height: 821px;
    display: flex;
    align-items: center;
}
.book{
    display: flex;
    width: 450px;
    padding: 43.313px 45px 40.688px 45px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 135px;
}
.book>p{
    width: 360px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 30.06px; /* 167% */
}
.book> h6{
    width: 204px;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

/* =============Section7============= */
.section7{
    width: 1440px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sec__a{
    width: 228px;
    height: 50px;
    border: 2px solid #7E0707;
    background: #7E0707;
}
.sec__a>p{
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
/* ============Section8========== */
.section8{
    width: 1440px;
    height: 971px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section8>h2{
    width: 154px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 150% */
    letter-spacing: 1.2px;
    display: flex;
    justify-content: center;
}
.section8>p{
    width: 558px;
    color: #0B3B3C;
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px; /* 186.957% */
    letter-spacing: 0.72px;
}
.sec__1{
    width: 1440px;
    height: 565px;
    display: flex;
    gap: 185px;
    overflow-x: auto;
}
.sec__1a{
    width: 300px;
    height: 555px;
}
.sec__1a> img{
    width: 300px;
    height: 350px;
}
.sec__1a>h4{
    width: 242px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.72px;
}
.sec__1a>h5{
    width: 106px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.sec__1b{
    width: 300px;
    height: 555px;
}
.sec__1b>img{
    width: 300px;
    height: 350px;
}
.sec__1b>h4{
    width: 263px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 0.72px;
}
.sec__1b>h5{
    width: 106px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.sec__1c{
    width: 300px;
    height: 555px;
}
.sec__1c>img{
    width: 263px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.72px;
}
.sec__1c>h4{
    width: 263px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    letter-spacing: 0.72px;
}
.sec__1c>h5{
    width: 106px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.sec__1d{
    width: 300px;
    height: 555px;
}
.sec__1d>img{
    width: 300px;
    height: 350px;
}
.sec__1d>h4{
    width: 253px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 0.72px;
}
.sec__1d>h5{
    width: 106px;
    color: #0B3B3C;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 142.857% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}

/* ==============Section9============= */
.section9{
    width: 1440px;
    height: 570px;
    background: #0B3B3C;
}
.navbar{
    display: flex;
    width: 1000px;
    height: 299px;
    padding: 40px 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 58.797px;
}
.nav__a{
    display: flex;
    width: 221.203px;
    height: 219px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.nav__a>h3{
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25.2px; /* 140% */
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.nav__a>p{
    width: 193px;
    color: #6D8A83;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 180% */
    letter-spacing: 0.84px;
}
.nav__2a{
    display: flex;
    width: 221.203px;
    height: 46px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
}
.nav__2a>img{
    color: #FFF;
    width: 20px;
    height: 26px;
    flex-shrink: 0;
}
.nav__2a>p{
    width: 111px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 180% */
    letter-spacing: 0.84px;
}
.nav__2a>p{
    width: 119px;
    color: #6D8A83;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 180% */
    letter-spacing: 0.72px;
}
.nav__2b{
    display: flex;
    width: 221.203px;
    height: 46px;
    padding-right: 0px;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    flex-direction: column;
}
.nav__2b>img{
    color: #FFF;
    width: 20px;
    height: 26px;
}
.nav__2b>a{
    width: 115px;
    color: #FFF;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 193.846% */
    letter-spacing: 0.84px;
}
.nav__2b>p{
    color: #6D8A83;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 180% */
    letter-spacing: 0.72px;
}
.nav__b{
    display: flex;
    width: 232px;
    height: 190px;
    padding: 3.906px 89px 0.094px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}
.nav__b>p{
    width: 59px;
    color: #6D8A83;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px; /* 140% */
    letter-spacing: 2.1px;
    text-transform: uppercase;
}
.nav__s>li{
    width: 143px;
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.2px; /* 180% */
    letter-spacing: 0.84px;
    text-decoration: none;
}
.nav__j{
    display: flex;
    color: #FFF;
    width: 232px;
    height: 190px;
    padding: 3.906px 119px 0.094px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 14px;
}

.navbar2{
    display: flex;
    height: 59px;
    width: 980px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 639px;
}
.navbar2>img{
    width: 168.32px;
   height: 46px;
}
.nav__y{
    background-color: aqua;
    display: flex;
    width: 172px;
    height: 59px;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
}
.nav__img{
    width: 50px;
    height: 56px;
    flex-shrink: 0;
}